body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#controls {
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#map {
    height: calc(100% - 60px);
    width: 100%;
}

button {
    margin-left: 5px;
    padding: 0 5px;
    font-size: 1em;
    cursor: pointer;
}

.vacantes {
    transition: color 0.3s;
    display: inline-block;
    min-width: 30px;
    text-align: right;
}
